<main id="main">

	<div class="container">

        {{ if .Site.Params.showSubheader }}
            {{ partial "subheader.html" . }}
        {{ end }}

        {{ if .Site.Params.showServices }}
            {{ partial "services.html" . }}
        {{ end }}

        {{ if .Site.Params.showRecentWorks }}
            {{ partial "recentworks.html" . }}
        {{ end }}

        {{ if .Site.Params.showDownload }}
            {{ partial "download.html" . }}
        {{ end }}

        {{ if .Site.Params.showClients }}
            {{ partial "clients.html" . }}
        {{ end }}

        {{ range first 1 (where (.Paginator.Pages.ByParam "performancedate") "Params.performancedate" ">" (now.Format "2006-01-01")) }}
            <div class="next-date">
                <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                {{ .Content }}
            </div>
        {{ end }}

	</div>	<!-- /container -->

</main>
