<main id="main">

	<div class="container">

        {{ if .Site.Params.showSubheader }}
            {{ partial "subheader.html" . }}
        {{ end }}

        {{ if .Site.Params.showServices }}
            {{ partial "services.html" . }}
        {{ end }}

        {{ if .Site.Params.showRecentWorks }}
            {{ partial "recentworks.html" . }}
        {{ end }}

        {{ if .Site.Params.showDownload }}
            {{ partial "download.html" . }}
        {{ end }}

        {{ if .Site.Params.showClients }}
            {{ partial "clients.html" . }}
        {{ end }}

        {{ range (where (.Paginator.Pages.ByParam "performancedate") "Params.performancedate" ">" (dateFormat .Site.Params.DateForm now)) }}
            <div>
                <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                <time class="entry-date published" date="{{ .Params.performancedate }}">{{ dateFormat .Site.Params.DateForm .Params.performancedate }}</time>
            </div>
        {{ end }}

	</div>	<!-- /container -->

</main>
